# Ignore everything
*
.*/

# Allow specific files
!LICENSE.txt
!README.md
!TODO.md
!Gemfile
!Makefile
!.gitignore

# Allow specific directories
!_assets/
!_posts/
!.github/

# Allow all files within these directories
!_assets/**
!_posts/**
!.github/**
